.height {
    height: 100vh;
}

.content-about {
    margin: 8.6em 0;
    padding: 0 12%;
    color: var(--color-primary);
}

.title-about h2 {
    font-size: 2.5em;
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-weight: 600;
    color: var(--color-primary);
}

.description-about p {
    font-size: 1.4em;
    font-family: 'TT Firs Neue Trl', sans-serif;
    color: var(--color-primary);
}

.skill-container {
    padding: 10px 20px;
    border: 2px solid var(--color-bg-secondary);
    border-radius: 4px;
    background-color: var(--color-bg-secondary);
    margin: 0 10px;
    height: 50px;
}