@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');

.height {
    height: 100vh;
}

.content-home {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

}

.content {
    margin-top: 15em;
    color: #ffff;
    padding: 0 20em;
}

.container-content {
    margin-left: 10em;
}

.title-page {
    font-size: 9em;
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-weight: bold;
}

.subtitle-page {
    font-size: 2em;
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-weight: bold;
}

.button {
    padding: 20px 30px;
    border: 2px #ffff solid;
    border-radius: 30px;
    background: transparent;
}

.button span {
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #ffff;
}

.button:hover {
    background: #ffff;

}

.button:hover span {
    /* Aquí defines los estilos que quieres aplicar al span cuando el botón tenga hover */
    color: #2A3446;
    transition: .3s;
}

h3 {
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-size: 20px;
}

.btn-social {
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
}