/* Configuracion altura */
.height {
    height: 100vh;
}

/* Configuracion columna contenido */
.content {
    margin: 8.6em 0;
    padding: 0 12%;
    color: var(--color-primary);
}

/* Configuracion texto - titulo */
.title span {
    font-size: 1.8em;
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-weight: 600;
}

.title__hight {
    color: var(--color-secondary);
}

/* Configuracion texto - subtitulo */
.subtitle {
    font-size: 1.5em;
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-weight: 400;
}

/* Configuracion texto - Descripcion */
.description span {
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-size: 20px;
}

/* Configuracion boton download */
.button {
    padding: 15px 30px;
    border: 2px var(--color-secondary) solid;
    border-radius: 30px;
    background: transparent;
}

/* Configuracion boton - Texto */
.button span {
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: var(--color-secondary);
}

/* Configuracion Boton - Hover */
.button:hover {
    background: var(--color-secondary);
    transition: .3s;
}

.button:hover span {
    color: var(--color-bg);
    transition: .3s;
}

/* Configuracion boton redes */
.btn-social {
    padding: 10px;
    border: 2px solid var(--color-secondary);
    border-radius: 50%;
    background: transparent;
    color: var(--color-secondary);
}

.btn-social:hover {
    background: var(--color-secondary);
    color: var(--color-bg);
    transition: .3s;
}